@{
    ViewBag.Title = "Home Page";
}
<style>
    #chartdiv {
	width	: 100%;
	height	: 500px;
}	
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="recordCount" class="medium"></div>
                        <div>Total Records</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="medium" id="dimCount"></div>
                        <div id="dimLabel"></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="medium" id="yearCount"></div>
                        <div>Years</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="medium" id="averageBasePay"></div>
                        <div>Average Base Pay</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-line-chart fa-fw"></i> Average Base Pay
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle ladda-button" data-action="actions" data-style="zoom-out" data-toggle="dropdown" aria-expanded="false">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a class="dimensionSelect" href="javascript:void(0)" data-dimension="OrgType">By Organization</a>
                            </li>
                            <li>
                                <a class="dimensionSelect" href="javascript:void(0)" data-dimension="JobFamily">By Job Family</a>
                            </li>
                            <li>
                                <a class="dimensionSelect" href="javascript:void(0)" data-dimension="GeoGroup">By Geo Group</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="chartdiv" class="col-sm-12 text-center"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart fa-fw"></i>Total Average Base Pay
            </div>
            <div class="panel-body">
                <div id="barChart" class="col-sm-12 text-center"></div>
                <div class="col-sm-12 text-center">
                    <table id="totalsTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Average</th>
                            </tr>
                       
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="bubbleChartWrap">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-group fa-fw"></i>Percentage of Total Respondents
            </div>
            <div class="panel-body">
                <div id="bubbleChart" class="col-sm-12 text-center">

                </div>
            </div>
        </div>
        
    </div>
</div>
        @section scripts{
            <script src="~/Content/vendor/amcharts/amcharts.js"></script>
            <script src="~/Content/vendor/amcharts/serial.js"></script>
            <script src="~/Content/vendor/amcharts/themes/light.js"></script>

            
            <script>
                var data = null;
                var mainDim = null;
                var mainGroup = null;
                var groups = [];
                var ndx = null;
                var allDims = [];
                d3.json(root + 'api/Incumbent/', function(r) {

                    data = r;
                    ndx = crossfilter(data);
                    mainDim = ndx.dimension(function(d) {
                        return d[0]._value[0]._value;
                    });
                    mainGroup = mainDim.group().reduceSum(function(d) {
                        return Math.floor(d[1]._value);
                    });
                    //forEach(mainGroup.all(), function(d) {
                    //    allDims.push({})
                    //});
                    doChart();
                });
                $(function() {
                    //var l = Ladda.create(document.querySelector('.ladda-button'));
                    //l.toggle();

                });
                function doChart() {
                    var chartData = mainGroup.all();
                    var chart = AmCharts.makeChart("chartdiv", {
                        "type": "serial",
                        "theme": "light",
                        "marginRight": 80,
                        "autoMarginOffset": 20,
                        "marginTop": 7,
                        "dataProvider": chartData,
                        "valueAxes": [
                            {
                                "axisAlpha": 0.2,
                                "dashLength": 1,
                                "position": "left"
                            }
                        ],
                        "mouseWheelZoomEnabled": true,
                        "graphs": [
                            {
                                "id": "g1",
                                "balloonText": "[[category]]<br/><b><span style='font-size:14px;'>value: [[value]]</span></b>",
                                "bullet": "round",
                                "bulletBorderAlpha": 1,
                                "bulletColor": "#FFFFFF",
                                "hideBulletsCount": 50,
                                "title": "red line",
                                "valueField": "value",
                                "useLineColorForBulletBorder": true
                            }
                        ],
                        "chartScrollbar": {
                            "autoGridCount": true,
                            "graph": "g1",
                            "scrollbarHeight": 40
                        },
                        "chartCursor": {

                        },
                        "categoryField": "key",
                        "categoryAxis": {
                            "parseDates": false,
                            "axisColor": "#DADADA",
                            "dashLength": 1,
                            "minorGridEnabled": true
                        },
                        "export": {
                            "enabled": true
                        }
                    });

                    chart.addListener("rendered", zoomChart);
                    zoomChart();

                    // this method is called when chart is first inited as we listen for "dataUpdated" event
                    function zoomChart() {
                        // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
                        chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
                    }

                }
               

                // generate some random data, quite different range
                function generateChartData() {
                    var chartData = [];
                    var firstDate = new Date();
                    firstDate.setDate(firstDate.getDate() - 5);

                    for (var i = 0; i < 1000; i++) {
                        // we create date objects here. In your data, you can have date strings
                        // and then set format of your dates using chart.dataDateFormat property,
                        // however when possible, use date objects, as this will speed up chart rendering.
                        var newDate = new Date(firstDate);
                        newDate.setDate(newDate.getDate() + i);

                        var visits = Math.round(Math.random() * (40 + i / 5)) + 20 + i;

                        chartData.push({
                            date: newDate,
                            visits: visits
                        });
                    }
                    return chartData;
                }

            </script>
        }
        