<style>
    .filterButton {
        width: 300px;
    }

    #chartdiv {
        width: 100%;
        min-height: 300px;
        height: 100%;
    }
</style>





<div class="row">
    <div class="col-lg-8 col-md-12 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <span><strong>Title</strong></span>
                    </div>
                    <div class="col-xs-9">
                        <div class="pull-right">

                         
                                
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a>               

                     
                        </div> 
           
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                
                </div>
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Query Filters</h4>
            </div>
            <div class="modal-body">
                <div class="row" ng-repeat="filter in queryBuilder.availableFilters">
                    <div class="col-xs-4">
                        <span>{{filter.column.displayName}}</span>
                    </div>
                    <div class="col-xs-6">
                        <div class="filterButton" max-labels="3" on-close="filterClose(filter)" isteven-multi-select button-label="key" item-label="key" output-model="filterSelection" tick-property="active" input-model="filter.availableFilterValues"></div>

                    </div>
                 
                  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="refreshGrid()" data-dismiss="modal">Apply Filters</button>
            </div>
        </div>
    </div>
</div>
